*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164);
  border-radius: 10px;

}

a{
  text-decoration: none;
  color: inherit;
}

